{{#if value}}
    <div class="ellipsis_inline" data-placement="bottom" title="
            {{#each value}}
                {{#eachOptions ../items}}
                    {{#eq key ../this}}
                        {{#notEq @index 0}}, {{/notEq}}
                        {{value}}
                    {{/eq}}
                {{/eachOptions}}
            {{/each}}" id="">
        {{#each value}}
            {{#eachOptions ../items}}
                {{#eq key ../this}}
                    {{#notEq @index 0}},
                    {{/notEq}}
                    {{value}}
                {{/eq}}
            {{/eachOptions}}
        {{/each}}
    </div>
{{/if}}